body {
    color: rgb(18, 240, 240);
    background-color: blueviolet;
}

form {
    font-weight: 400px;
    text-align: justify;
    text-indent: 25px;
}

button {
    width: 400;
    text-align: center;
    margin-left: 25px;
}